ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

header{
    margin-top: .5em;
    margin-bottom: .5em;
    .navigator{
        .sandwich-menu{
            float: right;
            margin-right: 1em;
            width: 2em;
        }
        span{
            font-size: 25px;
            margin-left: 2em;
            margin-top: 5em;
            color: #686868;
        }
        ul{
            display: none;
        }
    }
}


.Hero{
    padding-bottom: 2em;
    background: url("../util/images/hero-bg/landing.jpg");
    background-size: cover;
    padding-bottom: 70vh;
    margin-bottom: 0;
}

.hero-text{
    text-align: center;
    padding-top: 20%;
    li{
        font-weight: normal;
        color: white;
    }
}


  