ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

header {
  margin-top: .5em;
  margin-bottom: .5em;
}

header .navigator .sandwich-menu {
  float: right;
  margin-right: 1em;
  width: 2em;
}

header .navigator span {
  font-size: 25px;
  margin-left: 2em;
  margin-top: 5em;
  color: #686868;
}

header .navigator ul {
  display: none;
}

.Hero {
  position: relative;
  padding-bottom: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../util/images/hero-bg/landing.jpg") no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../util/images/hero-bg/landing.jpg") no-repeat center center fixed;
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  padding-bottom: 30vh;
  margin-bottom: 0;
}

.hero-text {
  text-align: center;
  padding-top: 30%;
  font-weight: normal;
  color: white;
}

.hero-text .head-hero {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 40px;
}

.hero-text hr {
  padding-left: 5em;
  border: 2px solid white;
}

.hero-text .empty {
  font-style: oblique;
  font-family: serif;
  font-size: 20px;
}

.readme {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  margin-top: 1.5em;
  display: inline-block;
  padding: 1em 2em;
  border: 1px solid white;
}

.readme:hover {
  text-decoration: underline;
}

.information-about-us {
  margin-top: 7em;
  text-align: center;
}

h1 {
  font-weight: lighter;
  font-size: 20px;
}

.info-head h1 {
  font-size: 20px;
  letter-spacing: .1em;
  margin-bottom: 1.7em;
}

.desc-info {
  font-size: 30px;
  color: #353535;
  font-family: "Raleway";
  padding-left: 2em;
  padding-right: 2em;
}

.info-head p {
  padding-left: 1.7em;
  padding-right: 1.7em;
  color: darkgray;
}

.information-sections h1 {
  margin-top: 1em;
  font-size: 17px;
  color: #2c2c2c;
}

.information-sections p {
  color: gray;
  padding-left: .7em;
  padding-right: .7em;
  font-size: 14px;
  letter-spacing: .05em;
}

.information-sections {
  margin-top: 7em;
  margin-bottom: 20em;
}

.what-do-head {
  text-align: center;
}

.what-do-head h1 {
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 27px;
  letter-spacing: .05em;
}

.what-do-head p {
  padding-top: 1.5em;
  padding-bottom: 7em;
  font-size: 15px;
  padding-left: 4em;
  padding-right: 4em;
  color: gray;
  letter-spacing: .1em;
  line-height: 1.5em;
}

.what-do-list p {
  color: gray;
  font-size: 15px;
  letter-spacing: .1em;
}

.what-do-list h1 {
  color: black;
  font-size: 17px;
  letter-spacing: .1em;
}

#woman {
  width: 100%;
}

#what-do-we-do {
  margin-bottom: 10em;
}

#team {
  text-align: center;
}

.team-head h1 {
  font-family: "Raleway";
  font-size: 23px;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: 2em;
}

.team-head p {
  font-size: 15px;
  color: gray;
  padding-left: 2.5em;
  padding-right: 2.5em;
  letter-spacing: .1em;
  line-height: 1.7em;
  margin-bottom: 4em;
}

.team-pic {
  display: block;
  margin-left: -.5em;
  margin-bottom: 2em;
  width: 97%;
}

.our-skills {
  text-align: left;
}

.our-skills h1 {
  font-weight: bold;
}

.our-skills p {
  font-size: 15px;
  color: gray;
  line-height: 1.5em;
}

#contact h1 {
  font-weight: bold;
}

#contact {
  text-align: center;
  padding-top: 5em;
}

.text {
  text-align: left;
  padding-right: 55%;
  margin-left: 1em;
  padding: auto 10em;
  font-family: "Raleway";
  padding-bottom: .5em;
  padding-top: 1em;
  border: none;
  border-bottom: 1px solid #969696;
  display: block;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

#submit {
  color: white;
  display: inline;
  padding: .7em 12em;
  background-color: #272727;
  border-style: none;
}

@media screen and (min-width: 800px) {
  .sandwich-menu {
    display: none;
  }
  .navigator {
    padding-bottom: 1em;
  }
  .navigator nav {
    display: inline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navigator nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -.7em;
    margin-bottom: -.2em;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding-right: 5em;
  }
  .navigator nav a {
    color: black;
    font-size: 1em;
    padding: 3em 1em;
  }
  .info-head > .about-us-big-info {
    padding: 0em 20em;
  }
  .information-sections {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7em;
  }
  .information-sections li {
    padding-right: 3em;
  }
  #what-do-we-do {
    margin-top: 7em;
    display: inline-block;
  }
  #what-do-we-do .what-do-list-right {
    float: left;
  }
  #what-do-we-do img {
    width: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #what-do-we-do .what-do-list-left {
    float: right;
  }
}
/*# sourceMappingURL=index.css.map */